pytz
pydub~=0.25.1
tiktoken==0.7.0
openai==1.58.1
python-telegram-bot[job-queue]==21.9
requests~=2.32.3
tenacity==8.3.0
duckduckgo_search==7.1.1
psycopg2-binary
SQLAlchemy
tortoise-orm[asyncpg]
aerich
asyncpg
